/*------------------------------------------------------------------
[Variables]

General variables used throughout the project.
-------------------------------------------------------------------*/

// Typography
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

$base-font-family: $arial;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Border
$base-border-color: map-get($colors, light-gray);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Main colors 
$primary-color: #B00202;
$secondary-color: #850203;