{#
/**
 * @file
 * Theme override for the footer navigation block.
#}

{% set title_classes = ['title'] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <span {{ title_attributes.addClass(title_classes) }}>{{ "now"|date("Y") }} © AZG</span>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>