/*------------------------------------------------------------------
[Master stylesheet]

Categorizing:

1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer]
3. Components - Reusable, Modular parts of design [example: sidebar, popup]
-------------------------------------------------------------------*/

@charset "UTF-8";

// Bourbon, neat, helpers and variables
@import "bourbon";
@import "variables/*";
@import "neat";
@import "helpers/classes/*";
@import "helpers/functions/*";
@import "helpers/mixins/*";

// Base
@import "normalize";
@import "font-awesome";
@import "base/*";

// Components
@import "components/**/*";

// Layout
@import "layout/*";

%content-style {
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

%titel-blok {
    padding: 10px 30px;
    background-color: $primary-color;
    display: inline-block;
}

%titel {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

body {
    background-color: #F8F8F8;
    font-family: $arial;
    font-size: 16px;
}

.outer-wrapper {
    margin-left: 300px;
    padding: 0 70px;
}

/*basic styles-------------------------*/

p {
    margin: 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 20px;
}

//h3

//h4

a {
    color: #6E7074;
}

/*sidebar------------------------------*/

#sidebar-first {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 1;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
}

#sidebar-first ul {
    padding: 0;
    margin: 0;
    
    li {
        text-decoration: none;
        list-style: none;

        &:hover {
            background-color: #F8F8F8;

            a {
                color: $secondary-color;
            }
        }
    }
}

li a {
    font-weight: bold;
    padding: 15px 30px;
    display: inline-block;
    width: 100%;
    font-size: 16px;

    &.is-active {
        background-color: #F8F8F8;
        border-bottom: 3px solid $secondary-color;
        color: $secondary-color;
    }

    &:active {
        color: $secondary-color;
    }
}

#block-wundertheme-branding {
    width: 100%;
    height: 100px;
    padding: 30px 0 0 30px;
    border-bottom: 3px solid $secondary-color;
}

.site-logo img {
    width: 100px;
}

#block-secundairemenu {
    position: fixed;
    bottom: 70px;
    left: 0;
    z-index: 10;

    li {
        border-bottom: 3px solid $secondary-color;
        background-color: $primary-color;
        list-style-type: none;

        &:hover {
            background-color: #F8F8F8;
        }
    }

    a {
        color: #fff;

        &:hover {
            color: $secondary-color;
        }
    
        &.is-active {
            background-color: #F8F8F8;
            color: $secondary-color;
            border: none;
        }
    }
}

#block-wundertheme-main-menu input[type=checkbox]{
    display: none;
}

#block-wundertheme-main-menu input[type=checkbox]:checked ~ ul{
    display: block;
}

.menu-toggle{
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.menu-button-container i {
    display: none;
    float: right;
    color: $secondary-color;
    font-size: 30px;
    margin-right: 20px;
}

/*header-------------------------------*/

#site-header .outer-wrapper {
    padding: 0;
}

.region-header {
    height: 100px;
    background-color: $primary-color;
    z-index: 5;
    padding-top: 10px;
}

#block-wundertheme-page-title h1 {
    color: #fff;
    padding: 20px 0 0 30px;
}

/*Frontpage----------------------------*/

#block-restaurants {
    margin-left: 30px;
    border-left: 3px solid #fff;
    padding-left: 10px;

    h2 {
        margin: 10px 0 0 0;
        font-size: 1.75em;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    p {
        color: #fff;
        font-weight: bold;
    }
}

.region-frontpage-content {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    #block-voorpaginakleinlinksboven, #block-voorpaginakleinlinksbeneden,
    #block-voorpaginagrootmidden, #block-voorpaginagrootrechts {
        & > div {
            @extend %titel-blok;

            > h2 {
                @extend %titel;
                margin: 5px;
            }

            a {
                color: #fff;
            }
        }
    }
}

#block-voorpaginakleinlinksboven {
    grid-column: 1;
    grid-row: 1;
    @extend %content-style;
    background-image: url("https://www.perfectitaliano.com.au/content/dam/perfectitaliano-aus/recipe/spaghetti-bolognese_standard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#block-voorpaginakleinlinksbeneden {
    grid-column: 1;
    grid-row: 2;
    @extend %content-style;
    background-image: url("../../dist/assets/img/resto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#block-voorpaginagrootmidden {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    @extend %content-style;
    background-image: url("../../dist/assets/img/broodjes.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#block-voorpaginagrootrechts {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    @extend %content-style;
    background-image: url("../../dist/assets/img/drinks.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*content------------------------------*/

.path-frontpage section#content {
    display: none;
}

#top-content-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    grid-column-gap: 30px;
}

#left-top-content, #right-top-content {
    @extend %content-style;
    margin-top: 30px;
   
    .views-field-title {
        padding: 10px 30px;
        background-color: $primary-color;
        display: inline-block;
    }

    span {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    p {
        padding: 15px 30px;

        &:nth-of-type(2) {
            font-weight: bold;
        }
    }
}

#content {
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 1200px;
    margin: 30px auto;

}

.views-content {

    tbody {
        font-size: 14px;
        border-top: 3px solid $secondary-color;

        td {
            border-bottom: none;
            padding-left: 30px;
            padding-right: 30px;
        }

        tr:nth-child(even) {
            background-color: #F8F8F8;
        }
    }

    caption {
        display: inline-block;
        text-align: left;
        background-color: $primary-color;
        padding: 10px 30px;
        font-size: 20px;
        font-weight: bold;
        color:#fff;
    }
}

.views-field-field-voeding-tags {
    background-color: $secondary-color;
    display: inline-block;
    padding: 0px 15px!important;
    margin-top: 10px;
    color: white;
    line-height: 2;
}

.selected,.unselected {
    display: inline-block;
}

.outer-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    background-color: #fff;
}

.inner-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $secondary-color;
}

/*Restaurants----------------------------------------------------*/

.path-restaurants {
    background-image: url('');

    #content {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        padding: 0;
        max-width: 700px;
        margin: 30px 0;
    }

    .views-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .views-row {
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

        h2 {
            @extend %titel-blok;
            @extend %titel;
        }

        p {
            padding: 2px 30px;
        }
    }
}

/*Allergenenlijst-------------------------------------------------*/

.allergenenlink a:after {
    @extend %icon;
    content: '\f0da';
    font-size: 30px;
    line-height: 0;
    margin-left: 15px;
    cursor: pointer;
    color: $secondary-color;
    vertical-align: middle;
}

.path-allergenenlijst {
    th {
        color: $secondary-color;
        border-bottom: 3px solid $secondary-color;
        word-break: break-all;
        font-size: 10px;
    }

    th:first-of-type {
        width: 10em;
        min-width: 10em;
        max-width: 10em;
        text-align: left;
        background-color: $primary-color;
        color: #fff;
        word-break: keep-all;
        padding: 10px;
        font-size: 12px;
    }

    th, td {   
        font-weight: normal;
        text-align: center;
        font-weight: bold;
    }

    td {
        border-right: 2px solid #6E7074;
        border-bottom: none;

        .outer-circle {
            width: 21px;
            height: 21px;
        }
        
        .inner-circle {
            width: 12px;
            height: 12px;
        }
    }

    td:first-of-type {
        width: 10em;
        min-width: 10em;
        max-width: 10em;
        padding: 0 10px;
        text-align: left;
        font-size: 12px;
    }

    tr:nth-child(even) {
        background-color: #F8F8F8;
    }
}

/*Dagmenu---------------------------------------------------*/

.path-dagmenu {

    #views-content {
        position: relative;
    }

    .grouper {
        display: none;
    }

    .navigator {
        display: grid;
        height: 50px;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 1fr;
    }

    .prev {
        color: $secondary-color;
        grid-column: 1;
        grid-row: 1;
        text-align: left;

        &:before {
            @extend %icon;
            content: '\f0d9';
            cursor: pointer;
            font-size: 30px;
            }
    }

    .group-title {
        grid-column: 2;
        text-align: center;
        grid-row: 1;
        color: $secondary-color;

        time {
            font-size: 24px;
            line-height: 2;
        }
    }

    .next {
        color: $secondary-color;
        grid-column: 3;
        grid-row: 1;
        text-align: right;

        &:after {
            @extend %icon;
            content: '\f0da';
            cursor: pointer;
            font-size: 30px;
            }
    }

    
}

/*Mediaqueries--------------------------------------------------*/

@media only screen and (max-width : 1024px) {

    #sidebar-first {
        width: 200px;
    }

    .outer-wrapper {
        margin-left: 200px;
        padding: 0 30px;
    }
}

@media only screen and (max-width : 768px) {

    /*Responsive menu--------------------------------------*/

    #sidebar-first {
        height: 60px;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        overflow-x: unset;
        background-color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }

    #block-wundertheme-branding {
        display: block;
        float: left;
        width: auto;
        border: none;
        height: 60px;
        padding: 10px 0 0 20px;
    }

    .site-logo img {
        width: 80px;
    }

    nav {
        background-color: #fff;
    }
   
    #block-wundertheme-main-menu ul{
        position: static;
        display: none;
        padding-top: 60px!important;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
    
    #block-wundertheme-main-menu ul li{
        margin-bottom: 1px;
    }
    
    ul li, li a {
        width:100%;
        font-size: 14px;
    }
    
    .menu-toggle{
      display: block;
      float: right;
    }

    .menu-button-container i {
        cursor: pointer;
        display: inline;
        text-align: right;
        color: #6E7074;
        font-size: 30px;
        margin: 10px 20px 0 0;

        &:hover {
            color: $secondary-color;
        }

        &:active {
            color: $secondary-color;
        }
    }

    #block-secundairemenu {
        position: unset;
        z-index: 10;

        ul {
            padding: 20px;
        }

        li {
            text-align: center;
        }
    }    

    /*content-------------------------------------------*/
    
    h1 {
        font-size: 1.5em;
    }

    .region-frontpage-content h2 {
        font-size: 16px!important;
    }

    .outer-wrapper {
        margin-left: 0;
        padding: 0 20px;
    }

    #site-header {
        margin-top: 60px;

        .region-header{
            height: 60px;
            padding: 0px;
        }

        h1 {
            padding: 20px 0 0 20px;
        }
    }

    #top-content-wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1200px;
        grid-row-gap: 0px;

        span {
            font-size: 16px;
        }
    }

    #left-top-content, #right-top-content {

        .views-field-title, 
        .views-field-title {
            padding: 10px 20px;
        }

        p {
            padding: 15px 20px;
            font-size: 14px;
        }
    }
    
    #left-top-content {
       grid-row: 1;
    }

    #right-top-content {
        grid-row: 2;
    }

    #content {
        padding: 15px 20px;
    }
    
    .views-content caption {
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .views-content tbody td {
        padding-left: 20px;
        padding-right: 20px;
    }

    .path-dagmenu .group-title time {
        font-size: 16px;
        line-height: 3;
    }

    /*frontpage-------------------------------*/

    #block-restaurants {
        margin-left: 20px;
        border-left: 3px solid #fff;
        padding-left: 10px;

        h2 {
            font-size: 1.50em;
        }

        p {
            font-size: 14px;
        }
    }

    .region-frontpage-content {
        margin: 20px auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 150px 150px 150px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    #block-voorpaginakleinlinksboven {
        grid-column: 1;
        grid-row: 1;
    }
    
    #block-voorpaginakleinlinksbeneden {
        grid-column: 2;
        grid-row: 1;
    }
    
    #block-voorpaginagrootmidden {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }
    
    #block-voorpaginagrootrechts {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
    }

    /*Restaurants--------------------------------------*/

    .path-restaurants {
    
        .views-content{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 30px;
        }

        .views-row {
            h2 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    /*Allergenen--------------------------------------------*/

    .path-allergenenlijst {
    table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		margin-bottom: 5px;
	}

	td {
		position: relative;
        padding-left: 50%;
        border-right: none;
        font-size: 12px;
        padding-bottom: 0;
	}

	td:before {
		position: absolute;
		left: 6px;
		padding-right: 10px;
		white-space: nowrap;
    }

    td:first-of-type {
        padding: 10px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        background-color: $secondary-color;
        color: #fff;
    }

	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "Ei"; }
	td:nth-of-type(3):before { content: "Gluten"; }
	td:nth-of-type(4):before { content: "Lupine"; }
	td:nth-of-type(5):before { content: "Melk"; }
	td:nth-of-type(6):before { content: "Mosterd"; }
	td:nth-of-type(7):before { content: "Noten"; }
	td:nth-of-type(8):before { content: "Pinda's"; }
	td:nth-of-type(9):before { content: "Schaaldieren"; }
    td:nth-of-type(10):before { content: "Selderij"; }
    td:nth-of-type(11):before { content: "Sesamzaad"; }
	td:nth-of-type(12):before { content: "Soja"; }
	td:nth-of-type(13):before { content: "Sulfiet"; }
    td:nth-of-type(14):before { content: "Vis"; }
    td:nth-of-type(15):before { content: "Weekdieren"; }
    }
}