/*------------------------------------------------------------------
[Layout]
-------------------------------------------------------------------*/

// Temporary layout styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;


  &.one-sidebar.sidebar-second {
    main {
      aside {
        &#sidebar-second {
          @include span-columns(4);
        }
      }

      section#content {
        @include span-columns(8);
      }
    }
  }

  &.two-sidebars {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
        }

        &#sidebar-second {
          @include span-columns(3);
        }
      }

      section#content {
        @include span-columns(6);
      }
    }
  }
}
/*
.outer-wrapper {
  @include outer-container;
}*/

// Container example
/*.container {
  padding: 35px 15px;

  @include outer-container();

  @include media($small) {
    @include outer-container(768px);
  }

  @include media($medium) {
    @include outer-container(930px);
  }

  @include media($large) {
    @include outer-container(1170px);
  }
}

// Fluid container example
.container-fluid {
  padding: 35px 15px;

  @include outer-container();

  @include media($small) {
    padding: 3em 30px;
  }
}*/

// Sticky footer.
/*body > .page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > main {
    flex: 1;
    width: 100%;
  }
}*/
