{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
<div class="grouper">
    <div class="navigator">
    <a class="next"></a>
        <div class="group-title"><h2>{{ title }}</h2></div>
    <a class="prev"></a>
    </div>
{{ content }}
</div>