{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - azg_logo: The AZG logo in the site language
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<div role="document" class="page">
  {%  if page.header %}
    <header id="site-header">
      <div class="outer-wrapper">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  {% if messages %}
    <section id="messages">
      <div class="outer-wrapper">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  {% if breadcrumb %}
    <section id="breadcrumb">
      <div class="outer-wrapper">
        {{ breadcrumb }}
      </div>
    </section>
  {% endif %}

  <main role="main" class="outer-wrapper">
    {% if page.sidebar_first %}
      <aside id="sidebar-first" role="complementary" class="sidebar">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.left_top_content  %}
    <div id="top-content-wrapper"><div id="left-top-content">
      {{ page.left_top_content }}
    </div>
    {% endif %}

    {% if page.right_top_content  %}
    <div id="right-top-content">
      {{ page.right_top_content }}
    </div></div>
    {% endif %}
    
    {% if page.content %}
    <section id="content">
      {{ page.content }}
    </section>
    {% endif %}

    {% if page.frontpage_content %}
    <div id="frontpage-content">
      {{ page.frontpage_content }}
    </div>
    {% endif %}

    {% if page.sidebar_second %}
      <aside id="sidebar-second" role="complementary" class="sidebar">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer id="site-footer" role="contentinfo">
        <section class="footer">
          {{ page.footer }}
        </section>
    </footer>
  {% endif %}
</div>
