{% if selected %}
  <div class="selected"><div class="outer-circle"><div class="inner-circle"></div></div></div>
{% else %}
  <div class="unselected"><div class="outer-circle"></div></div>
{% endif %}